<% provide(:title, 'Home') %>
<!--<div class="center jumbotron">-->
<div class="center" >

  <!-- It'd be great if we had a logo with a transparent background... -->
  <%= image_tag('ohmbrewer.png', width: '600px', height: '600px', alt: 'Ohmbrewer logo', class: 'img-responsive center-block shady') %>

</div>