<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/still.css">
    <title>Ohmbrewer Distillation</title>
</head>

<div id="still">
    <div id="controltype">
        <select >
            <option id="easy">Simplistic</option>
            <option id="hard">Anal Retentive</option>
        </select>
    </div>
    <div id="controls">

        <p>shit goes here</p>

        <!--<table id="controlbox"></table>-->
    </div>
    <div id="graph">
        <h2>Graphy stuff</h2>
        <table id="tempgraph"></table>
        <table id="stillpot"></table>

    </div>
</div>

</html>