<!DOCTYPE html>

<html>

<div id="still">
    <div id="header"><h1>Document Heading</h1></div>
    <link rel="stylesheet" type="text/css" href="still.css">
    <div id="controls">

        <h2>content</h2>

        <div id="nav">
            <ul>
                <li><a href="#">Simple</a></li>
                <li><a href="#">Anal Retentive</a></li>
            </ul>

        </div>
        <table id="controlbox"></table>
    </div>
    <div id="graph">
        <h2>Graphy stuff</h2>
        <table id="tempgraph"></table>
        <table id="stillpot"></table>

    </div>
</div>

</html>