<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add a Recipe</title>
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/recipes.css">
</head>
<body>

<div id="error_explanation" class="validation">
    <span id="error_explanation_message">
        There were some issues with your recipe:
    </span>
    <ul>
        <li class="error_explanation_item">Ya done fucked up, son.</li>
    </ul>
</div>

<div id="recipe_form">

    <label for="recipe_name">Recipe Name:</label>
    <input id="recipe_name" type="text" />
    <label for="creation_date">Created:</label>
    <input id="creation_date" type="text" />
    

    <div id="ingredients">
        <div id="grain">
            <h2>Grain <button id="add_grain">+</button></h2>
            <div id="grain_1" class="grain_line ingredient_line">
                <label for="grain_1_type">Grain:</label>
                <select id="grain_1_type" class="grain_type">
                    <optgroup label="Malt">
                        <option>Acidulated Malt</option>
                        <option>German Pilsner</option>
                        <option>Carapils</option>
                        <option>Caramel 10</option>
                    </optgroup>
                    <optgroup label="Malt Extract">
                        <option>Wheat LME</option>
                        <option>Pilsner LME</option>
                        <option>Light LME</option>
                        <option>Amber LME</option>
                        <option>Dark LME</option>
                        <option>Wheat DME</option>
                        <option>Pilsner DME</option>
                        <option>Light DME</option>
                        <option>Amber DME</option>
                        <option>Dark DME</option>
                    </optgroup>
                </select>
                <label for="grain_1_amount">Amount:</label>
                <input id="grain_1_amount" class="grain_amount" type="text" />
                <label for="grain_1_units">Units:</label>
                <select id="grain_1_units" class="grain_units">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="grain_1_stage">During:</label>
                <select id="grain_1_stage" class="grain_stage">
                    <option>Mash</option>
                    <option>Boil</option>
                </select>
            </div>
            <div id="grain_2" class="grain_line ingredient_line">
                <label for="grain_2_type">Grain:</label>
                <select id="grain_2_type" class="grain_type">
                    <optgroup label="Malt">
                        <option>Acidulated Malt</option>
                        <option>German Pilsner</option>
                        <option>Carapils</option>
                        <option>Caramel 10</option>
                    </optgroup>
                    <optgroup label="Malt Extract">
                        <option>Wheat LME</option>
                        <option>Pilsner LME</option>
                        <option>Light LME</option>
                        <option>Amber LME</option>
                        <option>Dark LME</option>
                        <option>Wheat DME</option>
                        <option>Pilsner DME</option>
                        <option>Light DME</option>
                        <option>Amber DME</option>
                        <option>Dark DME</option>
                    </optgroup>
                </select>
                <label for="grain_2_amount">Amount:</label>
                <input id="grain_2_amount" class="grain_amount" type="text" />
                <label for="grain_2_units">Units:</label>
                <select id="grain_2_units" class="grain_units">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="grain_2_stage">During:</label>
                <select id="grain_2_stage" class="grain_stage">
                    <option>Mash</option>
                    <option>Boil</option>
                </select>
            </div>
        </div>
        <div id="hops">
            <h2>Hops <button id="add_hop">+</button></h2>
            <div id="hop_1" class="hop_line ingredient_line">
                <label for="hop_1_type">Hop:</label>
                <select id="hop_1_type" class="hop_type">
                    <option>Santiam - 2.8 AAU</option>
                    <option>Tettnanger (US) - 6 AAU</option>
                    <option>Northern Brewer (US) - 10.4 AAU</option>
                </select>
                <label for="hop_1_amount">Amount:</label>
                <input id="hop_1_amount" class="hop_amount" type="text" />
                <label for="hop_1_units">Units:</label>
                <select id="hop_1_units" class="hop_units">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="hop_1_stage">During:</label>
                <select id="hop_1_stage" class="hop_stage">
                    <option>Mash</option>
                    <option selected>Boil</option>
                    <option>Post-Boil</option>
                    <option>Fermentation</option>
                    <option>Bottling / Kegging</option>
                </select>
                <label for="hop_1_timing">Add @:</label>
                <input id="hop_1_timing" class="hop_timing" type="text" />
            </div>
            <div id="hop_2" class="hop_line ingredient_line">
                <label for="hop_2_type">Hop:</label>
                <select id="hop_2_type" class="hop_type">
                    <option>Santiam - 2.8 AAU</option>
                    <option>Tettnanger (US) - 6 AAU</option>
                    <option>Northern Brewer (US) - 10.4 AAU</option>
                </select>
                <label for="hop_2_amount">Amount:</label>
                <input id="hop_2_amount" class="hop_amount" type="text" />
                <label for="hop_2_units">Units:</label>
                <select id="hop_2_units" class="hop_units">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="hop_2_stage">During:</label>
                <select id="hop_2_stage" class="hop_stage">
                    <option>Mash</option>
                    <option selected>Boil</option>
                    <option>Post-Boil</option>
                    <option>Fermentation</option>
                    <option>Bottling / Kegging</option>
                </select>
                <label for="hop_2_timing">Add @:</label>
                <input id="hop_2_timing" class="hop_timing" type="text" />
            </div>
        </div>
        <div id="adjuncts">
            <h2>Adjuncts <button id="add_adjunct">+</button></h2>
            <div id="adjunct_1" class="adjunct_line ingredient_line">
                <label for="adjunct_1_type">Adjunct:</label>
                <select id="adjunct_1_type" class="adjunct_type">
                    <optgroup label="Filtering">
                        <option>Rice Hulls</option>
                        <option>Whirlfloc</option>
                    </optgroup>
                    <optgroup label="Seasonings">
                        <option>Coriander Seed (ground)</option>
                        <option>Sea Salt</option>
                    </optgroup>
                    <optgroup label="Sugars">
                        <option>Belgian Candi Syrup (Light - 1 Lovibond)</option>
                        <option>Belgian Candi Syrup (Extra Dark - 180 Lovibond)</option>
                    </optgroup>
                </select>
                <label for="adjunct_1_amount">Amount:</label>
                <input id="adjunct_1_amount" class="adjunct_amount" type="text" />
                <label for="adjunct_1_units">Units:</label>
                <select id="adjunct_1_units" class="adjunct_units" type="text">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="adjunct_1_stage">During:</label>
                <select id="adjunct_1_stage" class="adjunct_stage">
                    <option>Mash</option>
                    <option>Boil</option>
                    <option>Post-Boil</option>
                    <option>Fermentation</option>
                    <option>Bottling / Kegging</option>
                </select>
                <label for="adjunct_1_timing">Add @:</label>
                <input id="adjunct_1_timing" class="adjunct_timing" type="text" />
            </div>
            <div id="adjunct_2" class="adjunct_line ingredient_line">
                <label for="adjunct_2_type">Adjunct:</label>
                <select id="adjunct_2_type"class="adjunct_type">
                    <optgroup label="Filtering">
                        <option>Rice Hulls</option>
                        <option>Whirlfloc</option>
                    </optgroup>
                    <optgroup label="Seasonings">
                        <option>Coriander Seed (ground)</option>
                        <option>Sea Salt</option>
                    </optgroup>
                    <optgroup label="Sugars">
                        <option>Belgian Candi Syrup (Light - 1 Lovibond)</option>
                        <option>Belgian Candi Syrup (Extra Dark - 180 Lovibond)</option>
                    </optgroup>
                </select>
                <label for="adjunct_2_amount">Amount:</label>
                <input id="adjunct_2_amount" class="adjunct_amount" type="text" />
                <label for="adjunct_2_units">Units:</label>
                <select id="adjunct_2_units" class="adjunct_units" type="text">
                    <optgroup label="Metric">
                        <option>Grams</option>
                        <option>Kilograms</option>
                    </optgroup>
                    <optgroup label="Imperial">
                        <option>Ounces</option>
                        <option>Pounds</option>
                    </optgroup>
                </select>
                <label for="adjunct_2_stage">During:</label>
                <select id="adjunct_2_stage" class="adjunct_stage">
                    <option>Mash</option>
                    <option>Boil</option>
                    <option>Post-Boil</option>
                    <option>Fermentation</option>
                    <option>Bottling / Kegging</option>
                </select>
                <label for="adjunct_2_timing">Add @:</label>
                <input id="adjunct_2_timing" class="adjunct_timing" type="text" />
            </div>
        </div>
        <div id="yeast">
            <h2>Yeast <button id="add_yeast">+</button></h2>
            <div id="yeast_1" class="yeast_line ingredient_line">
                <label for="yeast_1_strain">Strain:</label>
                <select id="yeast_1_strain" class="yeast_strain">
                    <option>White Labs WLP029 (German Ale/Kölsch Yeast)</option>
                    <option>Wyeast 1007 (German Ale)</option>
                    <option selected>Nuthin' but Brett</option>
                </select>
                <label for="yeast_1_stage">During:</label>
                <select id="yeast_1_stage" class="yeast_stage">
                    <option>Post-Boil</option>
                    <option>Bottling / Kegging</option>
                </select>
            </div>
        </div>
        <div id="water">
            <h2>Water</h2>
            <label for="water_profile">Profile:</label>
            <select id="water_profile">
                <option>Ithaca</option>
                <option>Turlock</option>
            </select>
            <label for="mash_volume">Mash Volume:</label>
            <input id="mash_volume" type="text" />
            <label for="preboil_volume">Pre-Boil Volume:</label>
            <input id="preboil_volume" type="text" />
            <label for="final_volume">Final Volume:</label>
            <input id="final_volume" type="text" />
        </div>
        <div id="notes">
            <label for="notes_textarea">Notes:</label>
            <textarea id="notes_textarea"></textarea>
        </div>
    </div>

    <div id="available_actions">
        <button id="save_recipe" >Save Recipe</button>
        <button id="cancel_recipe" >Cancel</button>
    </div>
</div>


</body>
</html>