<div class="panel panel-success">
  <div class="panel-heading">
    Pumps
  </div>
  <div class="panel-body">
    <div class="table-responsive">
        <table id="pump_statuses_dashboard" class="pump_statuses table table-hover table-striped">
          <thead>
            <tr>
              <th>Rhizome</th>
              <th>Pump ID</th>
              <th>State</th>
              <th>Designated Stop Time</th>
            </tr>
          </thead>
          <tbody>
          <%= render @pump_statuses %>
          </tbody>
        </table>
    </div>
  </div>
</div>
