<!--<div class="list-group panel">-->
    <!--<div class="table-responsive">-->
        <!--<h4 class="list-group-item list-group-item-success">Temperature Sensors</h4>-->
        <!--<table id="temperature_sensor_statuses_dashboard" class="temperature_sensor_statuses table table-hover table-striped">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>Device ID</th>-->
              <!--<th>Temperature Sensor ID</th>-->
              <!--<th>State</th>-->
              <!--<th>Designated Stop Time</th>-->
              <!--<th>Last Reading</th>-->
              <!--<th>Last Read Time</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--< %= render @temperature_sensor_statuses %>-->
          <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->
<!--</div>-->