<% provide(:title, 'Dashboard') %>
<h1>
    Dashboard
</h1>
<p>Status updates for jobs assigned to Equipment in your Brewhouse are shown below.</p>
<%= render 'jobs/pump_statuses_dashboard' %>
<%= render 'jobs/temperature_sensor_statuses_dashboard' %>
<%= render 'jobs/heating_element_statuses_dashboard' %>
