<!--< % #provide(:title, 'Dashboard') %>-->
<!--<h1>-->
    <!--Dashboard-->
<!--</h1>-->
<!--<p>Status updates for jobs assigned to Equipment in your Brewhouse are shown below.</p>-->
<!--< %= #render 'jobs/pump_statuses_dashboard' %>-->