/* notifications.css
 * Provides a uniform notification styling.
 */

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../public/images/dialog-information-symbolic.svg');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../public/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../public/images/dialog-warning-symbolic.svg');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../public/images/dialog-error-symbolic.svg');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../../public/images/dialog-error-symbolic.svg');
}

#error_explanation { }
#error_explanation_message { }
.error_explanation_item { }