<div class="input-group">
  <span class="input-group-addon">take</span>
  <%= f.label :ramp_estimate, class: 'sr-only' %>
  <%= f.text_field :ramp_estimate, class: 'form-control' %>
  <span class="input-group-addon">sec. or less to ramp to</span>
  <%= f.label :target_temperature, class: 'sr-only' %>
  <%= f.text_field :target_temperature, class: 'form-control' %>
  <span class="input-group-addon">&deg;C</span>
</div>
