<div id='schedule_chart'></div>
<% if schedule.chartable? %>
  <% if local_assigns[:ajax] %>
    <%= add_chart(schedule.to_gantt, 'schedule_chart', remote: schedule_chart_path(schedule)) %>
  <% else %>
    <%= add_chart(schedule.to_gantt, 'schedule_chart') %>
  <% end %>
<% end %>
