<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);
    
    function toMilliseconds(minutes) {
      return minutes * 60 * 1000;
    }

    function drawChart() {

      var data = new google.visualization.DataTable();
      var timeline = <%= raw schedule.timeline.to_json %>

      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      for (i = 0; i < timeline.length; i++) {
        var start_date = timeline[i][3];
        timeline[i][3] = new Date(start_date);
      }
      data.addRows(timeline);
      //need to translate ruby array task.trigger_start to new Date(milliseconds) for this to render correctly
      var options = {
        height: 275,
        gantt: {
          defaultStartDateMillis: new Date()
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="chart_div", style="width: 80%"></div>
</body>
</html>



