  <div id='chart'></div>
  <% if schedule.chartable? %>
    <%= render_chart(schedule.to_gantt, 'chart') %>
  <% end %>
  <h5><span class="label label-info">Note:</span></h5>
  <% if schedule.chartable? %>
      <span class="glyphicon glyphicon-asterisk"></span> All times are based on starting the batch right now.
  <% else %>
      <span class="glyphicon glyphicon-asterisk"></span> This schedule cannot be charted! Either there is no root task or no task with a duration longer than 0 seconds.
  <% end %>
