<% provide(:title, 'Add Schedule') %>
<h1>Add Schedule</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@schedule) do |f| %>
        <%= render partial: 'root_fields', locals: {f: f, object: @schedule} %>
        <%= button_tag 'Add', type: :submit, class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Cancel', schedules_path, class: 'btn btn-sm btn-primary btn-danger' %>
    <% end %>
  </div>
</div>
