<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/welcome.css">
</head>
<body>
    <div id="welcomemessage">
        <br>
        <br>
       <p>You have successfully logged into Ohmbrewer, congratulations dipshit you can remember your own name.</p>
    </div>
    <div id="selection">
        <br>

        <p>select where you would like to go from the drop down menu.</p>
        <br>
        <div id="destination">
            <select >
                <option id="home">Home</option>
                <option id="recipe">Recipe calculator</option>
                <option id="beer">Beer Brewer</option>
                <option id="still">Distillation</option>
                <option id="fermenter">Fermentation Controller</option>
                <option id="settings">Settings</option>
            </select>
        </div>
    </div>
</body>
</html>
