<ul>
  <li><span class="rhizome show_info">Device ID:</span> <%= rhizome.particle.device_id %></li>
  <li><span class="rhizome show_info">Access Token:</span> <%= rhizome.particle.access_token %></li>
</ul>