<ul>
  <li><span class="rhizome show_info">Device ID:</span> <%= rhizome.particle_device.device_id %></li>
  <li><span class="rhizome show_info">Access Token:</span> <%= rhizome.particle_device.access_token %></li>
</ul>