<% provide(:title, 'Add RIMS') %>
<h1>Add RIMS</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@recirculating_infusion_mash_system) do |f| %>
        <%= render partial: 'fields', locals: {f: f, object: @recirculating_infusion_mash_system, equipment_profile: @equipment_profile} %>
        <%= button_tag 'Add', type: :submit, class: 'btn btn-sm btn-primary' %>
        <%= js_back_button(:cancel) %>
    <% end %>
  </div>
</div>
