<!DOCTYPE html>
<html>


<head>

    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/login.css">
</head>
<body>
<div id="loginbox">
    <img src="../../../public/images/logo2.png" alt="Ohmbrewer logo" style="width:200px;height:200px">
    <p>Log in to Ohmbrewer</p>
    <form action="action.php">
        User Name:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Log In">
    </form>
</div>
</body>
</html>