<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="add event">
        <label for="event_type">Event Type:</label>
        <select id="event_type">
            <option id="e_heat">Heat</option>
            <option id="e_pump">Pump</option>
            <option id="e_rest">Rest</option>
            <option id="e_recirculate">Recirculate</option>
            <option id="e_boil">Boil</option>
        </select><br>
        <label for="event_loc">Event Location:</label>
        <select id="event_loc">
            <option id="eloc_hlt">HLT</option>
            <option id="eloc_mash">MASH TUN</option>
            <option id="eloc_rims">RIMS</option>
            <option id="eloc_boil">BOIL KETTLE</option>
        </select><br>
        <form>
            Event Temp:<input type="text" name="e_target_temp"> </form><br>
        <form>
            Event Duration:<input type="text" name="e_duration"> </form><br>
    </div>
</body>
</html>